.banner{
	background-image: linear-gradient( -225deg, rgba(246, 221, 15, 0.1), rgba(247, 192, 25, 0.1) 50%), url(../../images/backrgund2.0.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}	

.banner h1 {
	font-size: 150px;
}

.banner h2{
	font-size: 30px;
	font-size: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}